@model IEnumerable<WebSystemOne.ViewModel.StatementViewModel>

@{
    ViewData["Title"] = "Заявления";
}

<div class="container">
    <h1 class="text-center mb-4">Заявления</h1>

    <!-- Кнопка для перехода на страницу отзыва о работе ресурса -->
    <div class="text-center mb-4">
        <a href="/Home/Privacy" class="btn btn-primary">Отзыв о работе ресурса</a>
    </div>

    <!-- Таблица со списком заявлений -->
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Номер заявки</th>
                <th>Дата создания</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ServiceNumber</td>
                        <td>@item.Created.ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@item.Name</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">Нет заявлений.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
